
div#mp3_player {
  position: fixed;
  width: 500px;
  height: 60px;
  background: #000;
  padding: 5px;
  margin: 50px auto;
}

div#mp3_player > div > audio {
  width: 500px;
  background: #000;
  float: left;
}

canvas {
  background: #002D3C;
  display: block;
  width: 100%;
  position: absolute;
  height:0;
}
progress {
  z-index: 100;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: rgba(0,0,0,0);
  border: none;
}
::-webkit-progress-bar {
  background-color: rgba(0,0,0,0);
}
::-moz-progress-bar {
  background-color: rgba(0,0,0,0);
}
::-ms-progress-bar {
  background-color: rgba(0,0,0,0);
}
::progress-bar {
  background-color: rgba(0,0,0,0);
};
::-webkit-progress-value {
  background-color: orange;
}
::-moz-progress-value {
  background-color: orange;
}
::-ms-progress-value {
  background-color: orange;
}
::progress-value {
  background-color: orange;
}
button {
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background: rgba(0,0,0,0.8);
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}
button svg {
  width: 70%;
  margin: 0 auto;
  padding-left: .2vw;
  fill: #fff;
  transition: .6s opacity;
}
progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  position: absolute;
	width: 100%;
	height: 5px;
	background-color: rgba(0,0,0,0);
	border: none;
}
::-webkit-progress-bar {
	background-color: rgba(0,0,0,0);
}
::-webkit-progress-value {
  background-color: orange;
}
button {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background: rgba(0,0,0,0.8);
  outline: none;
  border: none;
  cursor: pointer;
}
button svg {
  width: 70%;
  margin: 0 auto;
  padding-left: .2vw;
  fill: #fff;
  transition: .6s opacity;
}
.wapper {
    margin-top: 0 auto;
    height: 100vh;
    background-image: url(../images/thumb_psb_1024.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.00) 50%), url(../images/thumb_psb_1024.jpg);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.00) 50%),url(../images/thumb_psb_1024.jpg);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.00) 50%),url(../images/thumb_psb_1024.jpg);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.00) 50%), 
}
#section-1{
    position: relative;
    width: 100%;
    height: 75vh;
    margin-top: 0 auto;
    
}
#section-1 .mes{
    position: absolute;
    top: 30vh;
}
#section-1 .mes h1 img {
    width: 350px;
    margin-left: 10vw;;
    top: 19vh;
}
#section-1 .mes h1{
    font-size: 22px;
    font-family: "KaiTi";
    color: #fff;
    margin: 0;
}
#section-1 .mes p:first-child{
    font-family: Arial;
    font-size: 60px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
#section-1 .mes p:last-of-type{
    margin-bottom: 60px;
}
#section-1 .player {
    margin-left: 65%;
    margin-top: -60px;
    transform-origin: 0 0;
    animation: pendulum 3s 0s linear infinite;
}
#section-1 .player button {
    top:67px;
    margin-left:80px;
}
#section-1 .player img{
    top:0;
    width: 30vw;
}

@keyframes pendulum {
	0%, 50%, 100% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(6deg);
	}
	
	75% {
		transform: rotate(-10deg);
	}
}
/*
#section-1 .mes #button{
    position: absolute;
    width: 200px;
    height: 60px;
    border: 20px;
    top: 130%;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    background: #E53C3C;
    background: 
    cursor: pointer;
    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#section-1 .mes #button:hover{
    background: #E31212;
    border-radius: 3px;
}
*/
#section-1 .voice {
    float:right;
    margin-top: 300px;
    margin-right: 100px;
}
.container {
  position: relative;
  height: 10vmin;
  width: auto;
}

.container span {
  display: inline-block;
  font-size: 3em;
  margin-left: 2vmin;
  color: #fff;
}

.container span:after {
  width: 2vmin;
  height: 2vmin;
  background-color: red;
}

.container span:nth-child(1) {
  animation: first 8s linear infinite;
}

.container span:nth-child(2) {
  animation: second 4s linear infinite;
}

.container span:nth-child(3) {
  animation: first 8s linear infinite;
}

.container span:nth-child(4) {
  animation: second 4s linear infinite;
}

@keyframes first {
  0%,15%,30%,45%,60%,75%,100% {
    transform: rotate(0deg) translateY(6vmin);
  }
  5%,20%,35%,50%,65%,80%,95% {
    transform: rotate(15deg) translateY(-6vmin);
  }
  10%,25%,40%,55%,70%,85%,90% {
    transform: rotate(-15deg) translateY(6vmin);
  }
}

@keyframes second {
  0%,15%,30%,45%,60%,75%,100% {
    transform: rotate(0deg) translateY(-6mvin);
  }
  5%,20%,35%,50%,65%,80%,95% {
    transform: rotate(15deg) translateY(6vmin);
  }
  10%,25%,40%,55%,70%,85%,90% {
    transform: rotate(-15deg) translateY(-6vmin);
  }
}

#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	

#section-2{
    margin: 0 auto;
    margin-top: -80px;
    width: 100%;
    height: 15vh;
    font-size: 0;
}
#section-2 .cell{
    width: 33%;
    display: inline-block;
    position: relative;
    top: 0;
}
#section-2 .cell .img{
    width: 100%;
    height: 130px;
    display: inline-block;
    line-height: 130px;
    text-align: center;
}
#section-2 .cell .img img{
    position: relative;
    top: 30px;
}
#section-2 .cell .mes{
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #534141;
    text-align: center;
    box-sizing: border-box;
    border-right: 2px solid white;
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#section-2 .cell:hover .mes{
    color: #BE4F48;
}
#section-2 .cell:last-child .mes{
    border:none;
}

.image {
	flex-grow: 1;
	opacity: .3;
	margin-right: 1px;
	transition: flex-grow .3s ease-in-out, opacity .3s ease-in-out;
}

.image:hover {
	flex-grow: 20;
	opacity: 1;
}

@for $i from 1 through 10 {
	.image:nth-of-type(#{$i}) {
		background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/nature-#{$i}.jpg') center center no-repeat;
		background-size: cover;
	}
}

.image:last-of-type {
	margin-right: 0;
}